.main-content{
    background-color: #f2f3f5;
}
.content-bg {
    width: 625px; margin: 0 auto; padding-bottom: 20px; background-color: #fff; padding: 73px 52px 77px; border-radius: 16px;
    .form-group {
        margin-bottom: 1rem;
        > label { 
            font-size: 20px; font-weight: 600; margin-bottom: 1.25rem; line-height: 1;
            &.essential{ 
                font-size: 16px; 
                span{color: $PRIMARY_COLOR;}
            }
        }
    }
    .login-btn{ margin-top: 60px;}
    .pw-reset {
        color: #000; position: relative; padding-right: 20px;
        &::after{
            content: ""; position: absolute; right: 8px; top: 50%; transform: translateY(-50%); width: 1px; height: 14px; background-color: #aaa;
        }
        &:last-child{
            padding-right: 0;
            &::after{
                content:none;
            }
        }
    }
    .tab-content{
        margin-top: 67px;
    }
}
.btn-form{
    display: flex; gap: 7.5px;
    .form-control{ width: 80%; }
}
legend{ 
    visibility: hidden; position: absolute;
}
.title {
    text-align: center; margin-top: 80px; margin-bottom: 100px; font-size: 40px; font-weight: 700;
}
.login-sns{
    margin-top: 56px;
    .login-sns__title{
        font-size:18px; font-weight: 500; text-align: center;
    }
    .login-sns__wrap{
        display: flex; justify-content: center; gap: 24px; margin-top: 32px;
    }
}
@media screen and (max-width: $BREAKPOINT_LARGE) {
    .content-bg {
        width: 100%; padding: 11px 16px 41px;
        .form-group {
            > label { 
                font-size: 14px;  margin-bottom: 10px; 
                &.essential{}
            }
        }
        .login-btn{ margin-top: 40px;}
        .pw-reset {
            color: #000; position: relative; padding-right: 20px;
            &::after{
                content: ""; position: absolute; right: 8px; top: 50%; transform: translateY(-50%); width: 1px; height: 14px; background-color: #aaa;
            }
            &:last-child{
                padding-right: 0;
                &::after{
                    content:none;
                }
            }
        }
        .tab-content{
            margin-top: 46px;
        }
    }
    .title{display: none;}

    .login-sns{
        margin-top: 56px;
        .login-sns__title{
            display: none;
        }
        .login-sns__wrap{
            display: flex; justify-content: center; gap: 14px; margin-top: 32px;
            a{
                >div{ width: 48px; height: 48px;}
            }
        }
    }
    .btn-form{
        display: flex; gap: 7.5px;
        .form-control{ width: 80%; }
    }
}

.table-title{
    margin-top: 40px; margin-bottom: 12px; font-size: 16px; font-weight: 600;
}
.accordion-agree {
    border-top: 3px solid #000;
    .item {
        border-bottom: 1px solid #d2d8dc;
        &.active{
            .agree-body {
                display: block;
            }
        }
    }
    .agree-top {
        background: #f7f8f9; padding: 19px 23px; display: flex; justify-content:  space-between; align-items: center;
    }
    .agree-body {
        background: #fff; line-height: 1.6; font-size: 14px; padding: 27px 24px; display: none;
    }
}
@media screen and (max-width: $BREAKPOINT_LARGE) {

}

// 메인
.main-visual{
    width: 100%; height: 340px; background-image: url('../images/main-visual.png'); background-size: cover; background-position: center;
}
.main-content{

}
.main-content__join{
    display: flex; gap: 8px; margin-top: -250px;
    background-color: #fff; border-radius: 8px; padding: 8px;
    .swiper-container{ width: 80%; }
    .swiper-pagination-bullet-active{ background: $PRIMARY_COLOR;}
    .swiper-button-next{
        width:32px; height:32px; background: url('../images/icon-round-right.svg')50% 50% no-repeat; right: 50px; bottom: 20px; left: inherit; top: inherit;
        &::after{content:none;}
    }
    .swiper-button-prev{
        width:32px; height:32px; background: url('../images/icon-round-left.svg')50% 50% no-repeat; right: 92px; bottom: 20px; left: inherit; top: inherit;
        &::after{content:none;}
    }
}
.desc-con{
    padding: 40px 53px;
    .desc-con__txt1{font-size: 18px; font-weight: 700;  color: #1686f2;}
    .desc-con__txt2{ font-size: 20px; font-weight: 600; margin-top: 8px;}
    .desc-con__txt3{  font-size: 36px; font-weight: 700; margin-top: 32px;}
}
.sign-wrap{
    width: 265px; 
}
.login-group{
    width: 100%; border: 1px solid #ddd; border-radius: 4px;
    .login-group__con{
        display: flex;
        >div{ width: 50%; display: flex; align-items: center; justify-content: center; text-align: center; font-size:14px; font-weight: 600; padding: 19px 40px; border-bottom: 1px solid #ddd;}
        .login-group__headhunter{border-left: 1px solid #ddd;}
    }
    .login-group__sns{
        display: flex; align-items: center; justify-content: center; gap: 24px; padding: 16px 0;
    }
}
.sign-wrap__banner{
    width: 100%; border-radius: 4px; background-color: #aaa; height: 133px; margin: 8px 0;
}
.sign-btn__group{
    width: 100%; display: flex; gap: 4px;
    .btn{ width: 50%; border-radius: 4px; font-size: 13px;}
}

// 실시간 헤드헌팅 채용공고
.main-content__announcement{
    padding: 80px 0 140px; background-color: #f2f3f5;
}
.announcement-head{
    position: relative;
    @at-root{
        .main-content-title{ font-size: 20px; font-weight: 700;}
    }
    .swiper-button-next{
        width:24px; height:24px; background: url('../images/icon-b-next.svg')50% 50% no-repeat; right: 0; bottom: 0; left: inherit; top: inherit;
        &::after{content:none;}
    }
    .swiper-button-prev{
        width:24px; height:24px; background: url('../images/icon-b-prev.svg')50% 50% no-repeat; right: 32px; bottom: 0; left: inherit; top: inherit;
        &::after{content:none;}
    }
}
.announcement-wrap__list{ 
    display: flex; align-items: center; gap: 24px; margin-top: 24px; flex-flow: wrap;
    li{width: calc(25% - 18px); height: 160px; padding: 25px; border-radius: 16px; border: 1px solid #eee; background-color: #fff;
        &.active{ border: 2px solid #1686f2;}
        a{width: 100%; height: 100%; display: flex; justify-content: space-between; flex-direction: column;}
    }
    .announcement-classification{ font-size: 14px; font-weight: 700; color: #777;}
    .announcement-object{ font-size: 18px; font-weight: 700; margin-top: 10px;}
}
.date-wrap{
    display: flex; align-items: center; justify-content: space-between;
    .date{ font-size: 14px; font-weight: 700; color: #1686f2;}
    .deadline{ font-size: 14px; color: #777;}  
}
.announcement-more{
    text-align: center; margin-top: 80px;
    .btn{ width: 360px;}
}
.main-content__search{
    padding: 80px 0 140px; background-color: #fff;
    .nav{ gap: 40px; margin: 40px 0;}
    .nav-tabs{ border-bottom: 0;}
    .nav-tabs .nav-link{
        font-size: 16px; font-weight: 700; color: #202020; padding: 0;
        &.active{ 
            border-bottom: 0; color: #1686f2; 
            &::after{ content:""; border-bottom: 3px solid #1686f2; width: 100%; height: 100%; display: block; padding-top: 5px;}
        }
    }
   .tab-content{ position: relative;}
    .swiper-scrollbar{
        width:85%; height: 3px; background: #ddd; margin-top:60px;
        .swiper-scrollbar-drag{ background: #555;}
    }
    .swiper-button-next{
        width:24px; height:24px; background: url('../images/icon-search-next.svg')50% 50% no-repeat; right: 0; bottom: -10px; left: inherit; top: inherit;
        &::after{content:none;}
    }
    .swiper-button-prev{
        width:24px; height:24px; background: url('../images/icon-search-prev.svg')50% 50% no-repeat; right: 60px; bottom: -10px; left: inherit; top: inherit;
        &::after{content:none;}
    }

    .search-card{
        height: 175px; border-radius: 16px; border: solid 1px #eee; padding: 32px 25px; 
        a{ display: block;}
        &.active{
            border: 2px solid #1686f2; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
        }
    }
    .search-card__logo{
        width: 250px; height: 40px; background-size: contain; background-repeat: no-repeat; background-position: center;
    }
    .search-card__title{ margin-top: 30px;  font-size: 17px; font-weight: bold;}
}

// 플랫폼 헤드헌터 채용
.main-content__platform{
    width: 100%; height: 1040px; background: url('../images/platform-banner.png')50% 50% no-repeat; padding-top: 120px; position: relative;
    >.container{ height: 100%; position: relative;}
    @at-root{
        .platform-head{
            text-align: center;
            .platform-title{
                font-size: 40px; font-weight: 700; color: #fff;
                &.dark{color: #202020;}
            }
            .main-content-title{ 
                color: #fff; margin-top: 24px;
                &.dark{color: #202020;}
            }
        }
    }
    .platform-bg-card{
        width: 600px; height: 765px; background-color: #fff; position: absolute; bottom: 0; left: 0; padding: 50px 75px;
    }
    .platform-desc-title{
       font-size: 24px;  font-weight: 700; line-height: 1.21;
    }
    .platform-desc-txt{ font-size: 18px; color: #555; font-weight: 400; line-height: 1.61; margin-top: 16px;}
    .swiper-container{
        width:100%; position: absolute;  bottom: 72px;
    }
    .swiper-slide{
        width: 1120px !important; opacity: 0.2;
       &.swiper-slide-active{opacity: 1;}
       &.swiper-slide-duplicate-active{opacity: 1;}
    }
    .platform-controller{
        display: flex; align-items: center; justify-content: end; padding-right: 100px; margin-top: 15px;
        .swiper-pagination{ position: static; }
        .swiper-button-next{
            width: 34px; height: 34px; background: url('../images/icon-flatform-next.svg')50% 50% no-repeat;position: static; margin-top: 0; margin-left: 20px;
            &::after{content:none;}
        }
        .swiper-button-prev{
            width: 34px; height: 34px; background: url('../images/icon-flatform-prev.svg')50% 50% no-repeat; position: static; margin-top: 0; margin-right: 20px;
            &::after{content:none;}
        }

    }
    .swiper-pagination-bullet {
        font-size: 18px; line-height: 1.61; color: #aaa; opacity: 1; height: 0; margin: 0 8px;
    }
    .swiper-pagination-bullet-active {
        color: #fff;
    }
    .platform-card{
        padding: 0 54px; height: 460px; background-color: #1686f2; display: flex; flex-flow: column; justify-content: center; margin-left: -20px;
        .platform-card-title{
            color: #fff; font-size: 34px; font-weight: 700; line-height: 1.18;
        }
        .platform-card-desc{
            color: #fff; font-size: 18px; line-height: 1.61; margin-top: 24px;
        }
        .btn{
            width: 160px; border: 1px solid #fff; background-color: transparent; color: #fff; font-weight: 500; font-size: 16px; margin-top: 67px;
        }
    }
}

// 공지사항, faq
.main-content__list{
    background-color: #fff; padding: 110px 0;
    .container{
        display: flex;
        .main-content-notice, .main-content-faq{
            width: 50%; padding: 0 48px;
        }
    }
    .icon-plus{margin-left: 8px;}
    .list-head{ 
        display: flex; align-items: center; justify-content: space-between; margin-bottom: 20px;
        .content-title{ font-size: 20px; font-weight: 700;}
    }
    .list-content{
        li{ 
            a{
                width: 100%; font-size: 18px; line-height: 2.11; position: relative; padding-left: 16px;text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: block;
                &::before{content: ""; position: absolute; width: 3px; height: 3px; background-color: #202020; border-radius: 50%; left: 0; top: 50%; transform: translateY(-50%);}
            }
        }
    }
}

// 상품
.main-content__product{
    padding: 130px 0 120px;
}
.product-list{
    display: flex; justify-content: center;
    .product-content{
        width: 300px; margin: 96px 54px 0; text-align: center; position:relative;
    }
    .product-title{ font-size: 24px; font-weight: 700; margin-top: 24px;}
    .product-desc{font-size: 18px;color: #555; line-height: 1.44; margin-top: 24px; margin-bottom: 54px;}
}
.view-more{
    position: absolute; left: 50%; transform: translateX(-50%); bottom: 0;
    a{ 
        display: flex; align-items: center;
        span{ margin-left: 8px; font-size: 18px; font-weight: 600;}
    }
}