[class^=icon-]{
  display: inline-block;vertical-align: middle;background-repeat: no-repeat;background-position: 50% 50%;background-size: contain;
}
.icon-naver{ width: 62px; height: 62px; background-image: url('../images/icon-naver.png');}
.icon-kakao{ width: 62px; height: 62px; background-image: url('../images/icon-kakao.png');}
.icon-facebook{ width: 62px; height: 62px; background-image: url('../images/icon-facebook.png');}
.icon-google{ width: 62px; height: 62px; background-image: url('../images/icon-google.png');}
.icon-apple{ width: 62px; height: 62px; background-image: url('../images/icon-apple.png');}

.icon-b-naver{ width: 20px; height: 19px; background-image: url('../images/icon-b-naver.svg');}
.icon-b-kakao{ width: 25px; height: 24px; background-image: url('../images/icon-b-kakao.svg');}
.icon-b-facebook{ width: 11px; height: 23px; background-image: url('../images/icon-b-facebook.svg');}
.icon-b-google{ width: 22px; height: 22px; background-image: url('../images/icon-b-google.svg');}
.icon-b-apple{ width: 21px; height: 25px; background-image: url('../images/icon-b-apple.svg');}

.icon-login{ width: 40px; height: 40px; background-image: url('../images/icon-login.svg');}
.icon-search{ width: 21px; height: 20px; background-image: url('../images/icon-search.svg');}
.icon-logout{ width: 18px; height: 16px; background-image: url('../images/icon-logout.svg');}
.icon-point{ width: 18px; height: 18px; background-image: url('../images/icon-point.svg');}
.icon-notice{ width: 20px; height: 23px; background-image: url('../images/icon-notice.svg');}
.icon-reward{ width: 24px; height: 23px; background-image: url('../images/icon-reward.svg');}
.icon-arrow{ width: 16px; height: 10px; background-image: url('../images/icon-arrow.png');}
.icon-g-close{ width: 18px; height: 18px; background-image: url('../images/icon-g-close.svg');}

.icon-plus{ width: 18px; height: 18px; background-image: url('../images/icon-plus.svg');}
.icon-round-arrow{ width: 24px; height: 24px; background-image: url('../images/icon-round-right.svg');}
