[class^=icon-]{
  display: inline-block;vertical-align: middle;background-repeat: no-repeat;background-position: 50% 50%;background-size: contain;
}
.no-image{ width: 155px; height: 30px; background-image: url('../images/no-image.svg'); display: inline-block;vertical-align: middle;background-repeat: no-repeat;background-position: 50% 50%;background-size: contain;}
.icon-naver{ width: 62px; height: 62px; background-image: url('../images/icon-naver.png');}
.icon-kakao{ width: 62px; height: 62px; background-image: url('../images/icon-kakao.png');}
.icon-facebook{ width: 62px; height: 62px; background-image: url('../images/icon-facebook.png');}
.icon-google{ width: 62px; height: 62px; background-image: url('../images/icon-google.png');}
.icon-apple{ width: 62px; height: 62px; background-image: url('../images/icon-apple.png');}

.icon-b-naver{ width: 20px; height: 19px; background-image: url('../images/icon-b-naver.svg');}
.icon-b-kakao{ width: 25px; height: 24px; background-image: url('../images/icon-b-kakao.svg');}
.icon-b-facebook{ width: 11px; height: 23px; background-image: url('../images/icon-b-facebook.svg');}
.icon-b-google{ width: 22px; height: 22px; background-image: url('../images/icon-b-google.svg');}
.icon-b-apple{ width: 21px; height: 25px; background-image: url('../images/icon-b-apple.svg');}

.icon-login{ width: 40px; height: 40px; border-radius: 50%; background-image: url('../images/icon-login.svg');}
.icon-search{ width: 21px; height: 20px; background-image: url('../images/icon-search.svg');}
.icon-logout{ width: 18px; height: 16px; background-image: url('../images/icon-logout.svg');}
.icon-point{ width: 18px; height: 18px; background-image: url('../images/icon-point.svg');}
.icon-notice{ width: 20px; height: 23px; background-image: url('../images/icon-notice.svg');}
.icon-reward{ width: 24px; height: 23px; background-image: url('../images/icon-reward.svg');}
.icon-arrow{ width: 16px; height: 10px; background-image: url('../images/icon-arrow.png');}
.icon-g-close{ width: 18px; height: 18px; background-image: url('../images/icon-g-close.svg');}

.icon-plus{ width: 18px; height: 18px; background-image: url('../images/icon-plus.svg');}
.icon-round-arrow{ width: 24px; height: 24px; background-image: url('../images/icon-round-right.svg');}
.icon-input-add{ width: 12px; height: 12px; background-image: url('../images/icon-input-add.svg');}
.icon-del{ width: 22px; height: 22px; background-image: url('../images/icon-del.svg');}

.icon-search-dark{ width: 18px; height: 18px; background-image: url('../images/icon-search-dark.svg');}
.icon-exclamation { width: 16px; height: 16px; background-image: url('../images/icon-exclamation.svg'); }

.icon-pager-prev { width: 18px; height: 13px; background-image: url('../images/icon-main-swiper-prev.svg'); }
.icon-pager-next { width: 18px; height: 13px; background-image: url('../images/icon-main-swiper-next.svg'); }

.icon-favorites-on{ width: 25px; height: 20px; background-image: url('../images/icon-favorites-on.svg'); }
.icon-favorites-off{ width: 25px; height: 20px; background-image: url('../images/icon-favorites-off.png'); }
.icon-img-add{ width: 24px; height: 24px; background-image: url('../images/icon-img-add.svg'); }

.icon-home{ width: 11px; height: 12px; background-image: url('../images/icon-home.svg'); }
.icon-phone{ width: 9px; height: 13px; background-image: url('../images/icon-phone.svg'); }
.icon-email{ width: 12px; height: 9px; background-image: url('../images/icon-mail.svg'); }
.icon-row-add{ width: 18px; height: 18px; background-image: url('../images/icon-row-add.svg');}


.icon-personal-information{ width: 24px; height: 24px; background-image: url('../images/icon-personal-information.svg');}

.icon-recruitment-preference{ width: 24px; height: 24px; background-image: url('../images/icon-recruitment-preference.svg');}

.icon-core-competencies{ width: 24px; height: 24px; background-image: url('../images/icon-core-competencies.svg');}

.icon-career{ width: 24px; height: 24px; background-image: url('../images/icon-career.svg');}

.icon-education{ width: 24px; height: 24px; background-image: url('../images/icon-education.svg');}

.icon-working-conditions{ width: 24px; height: 24px; background-image: url('../images/icon-working-conditions.svg');}

.icon-custom-company{ width: 24px; height: 24px; background-image: url('../images/icon-custom-company.svg');}

.icon-self-introduction{ width: 24px; height: 24px; background-image: url('../images/icon-self-introduction.svg');}

.icon-conversation{ width: 24px; height: 24px; background-image: url('../images/icon-conversation.svg');}

.icon-official-exam{ width: 24px; height: 24px; background-image: url('../images/icon-official-exam.svg');}

.icon-certificate{ width: 24px; height: 24px; background-image: url('../images/icon-certificate.svg');}

.icon-awards{ width: 24px; height: 24px; background-image: url('../images/icon-awards.svg');}

.icon-outdoor-activities{ width: 24px; height: 24px; background-image: url('../images/icon-outdoor-activities.svg');}

.icon-portfolio{ width: 24px; height: 24px; background-image: url('../images/icon-portfolio.svg');}

.icon-english-resume{ width: 24px; height: 24px; background-image: url('../images/icon-english-resume.svg');}

.icon-personal-information-active{ width: 24px; height: 24px; background-image: url('../images/icon-personal-information-active.svg');}

.icon-recruitment-preference-active{ width: 24px; height: 24px; background-image: url('../images/icon-recruitment-preference-active.svg');}

.icon-core-competencies-active{ width: 24px; height: 24px; background-image: url('../images/icon-core-competencies-active.svg');}

.icon-career-active{ width: 24px; height: 24px; background-image: url('../images/icon-career-active.svg');}

.icon-education-active{ width: 24px; height: 24px; background-image: url('../images/icon-education-active.svg');}

.icon-working-conditions-active{ width: 24px; height: 24px; background-image: url('../images/icon-working-conditions-active.svg');}

.icon-custom-company-active{ width: 24px; height: 24px; background-image: url('../images/icon-custom-company-active.svg');}

.icon-self-introduction-active{ width: 24px; height: 24px; background-image: url('../images/icon-self-introduction-active.svg');}

.icon-conversation-active{ width: 24px; height: 24px; background-image: url('../images/icon-conversation-active.svg');}

.icon-official-exam-active{ width: 24px; height: 24px; background-image: url('../images/icon-official-exam-active.svg');}

.icon-certificate-active{ width: 24px; height: 24px; background-image: url('../images/icon-certificate-active.svg');}

.icon-awards-active{ width: 24px; height: 24px; background-image: url('../images/icon-awards-active.svg');}

.icon-outdoor-activities-active{ width: 24px; height: 24px; background-image: url('../images/icon-outdoor-activities-active.svg');}

.icon-portfolio-active{ width: 24px; height: 24px; background-image: url('../images/icon-portfolio-active.svg');}

.icon-english-resume-active{ width: 24px; height: 24px; background-image: url('../images/icon-english-resume-active.svg');}

.icon-resume-plus{ width: 24px; height: 24px; background-image: url('../images/icon-resume-plus.svg');}

.icon-resume-minus{ width: 24px; height: 24px; background-image: url('../images/icon-resume-minus.svg');
  &.resume{width: 18px; height: 18px;}
}

.icon-like{ width: 20px; height: 21px; background-image: url('../images/icon-like.svg');}
.icon-like-active{ width: 20px; height: 21px; background-image: url('../images/icon-like-active.svg');}

.icon-reply{ width: 14px; height: 14px; background-image: url('../images/icon-reply.svg');}

.icon-more-dot{ width: 4px; height: 20px; background-image: url('../images/icon-more-dot.svg');}

.icon-select-arrow{
  width: 11px; height: 7px; background-image: url('../images/select.svg');
}
.icon-primary-plus{
  width: 10px; height: 10px; background-image: url('../images/icon-primary-plus.svg');
}
.icon-hunter-search{
  width: 23px; height: 22px; background-image: url('../images/icon-hunter-search.svg');
}
.icon-hunter-list{
  width: 23px; height: 22px; background-image: url('../images/icon-hunter-list.svg');
}
.icon-like-off{
  width: 22px; height: 21px; background-image: url('../images/icon-like-off.svg');
}
.icon-like-on{
  width: 22px; height: 21px; background-image: url('../images/icon-like-on.svg');
}
.icon-reading-ticket{
  width: 18px; height: 13px; background-image: url('../images/icon-reading-ticket.svg');
}
.icon-b-close{
  width: 15px; height: 15px; background-image: url('../images/icon-b-close.svg');
}
.icon-share{
  width: 30px; height: 30px; background-image: url('../images/icon-share.svg');
}
.icon-file-active{
  width: 20px; height: 16px; background-image: url('../images/icon-file-active.svg');
}
.icon-file-default{
  width: 20px; height: 16px; background-image: url('../images/icon-file-default.svg');
}
.icon-file-gray{
  width: 20px; height: 16px; background-image: url('../images/icon-file-gray.svg');
}
.icon-pen{
  width: 18px; height: 20px; background-image: url('../images/icon-pen.svg');
}
.icon-w-pen{
  width: 21px; height: 24px; background-image: url('../images/icon-w-pen.svg');
}
.icon-trash{
  width: 14px; height: 20px; background-image: url('../images/icon-trash.svg');
}
.icon-date{
  width: 20px; height: 17px; background-image: url('../images/icon-date.svg');
}
.icon-bg-plus{
  width: 24px; height: 24px; background-image: url('../images/icon-bg-plus.svg');
}
.icon-r-time{
  width: 14px; height: 14px; background-image: url('../images/icon-r-time.svg');
}
.icon-b-prev{
  width: 24px; height: 24px; background-image: url('../images/icon-b-prev.svg'); margin-right: 10px;
}
.icon-lock{
  width: 14px; height: 18px; background-image: url('../images/icon-lock.svg');
}
.icon-clip{
  width: 18px; height: 35px; background-image: url('../images/icon-clip.svg');
}
.icon-b-next{
  width: 24px; height: 24px;  background-image: url('../images/icon-b-next.svg');
}
.icon-no-img{
  width: 70px; height: 70px;  background-image: url('../images/icon-no-img.svg');
}
.icon-chat-notice{
  width: 56px; height: 56px;  background-image: url('../images/icon-chat-notice.svg');
}
.icon-chat-notice-active{
  width: 56px; height: 56px;  background-image: url('../images/icon-chat-notice-active.svg');
}
.icon-top-btn{
  width: 56px; height: 56px;  background-image: url('../images/icon-top-btn.svg');
}
.icon-w-trash{
  width: 18px; height: 21px;  background-image: url('../images/icon-w-trash.svg');
}