//font
$FONT_FAMILY: "Pretendard", sans-serif !default;
$FONT_SIZE: 16px !default;
$BODY_COLOR: #202020 !default;
$LINK_COLOR: $BODY_COLOR !default;
$LINE_HEIGHT: 1.44 !default;

//bg
$BDOY_BACKGROUND: #f2f3f5 !default;

//color
$PRIMARY_COLOR: #1686f2 !default;
$GRAY_COLOR: #cccccc !default;
$dark: #000 !default;
$white: #fff !default;

//layout
$HEADER_HEIGHT: 80px !default;

//breakpoint
$BREAKPOINT_LARGE: 996px !default;
$BREAKPOINT_XLARGE: 1600px !default;