#wrap{}

#container{flex-grow: 1;}

.container{
    padding: 0;
}
@media screen and (max-width: $BREAKPOINT_LARGE) {
    #container{ margin-top: 30px; }
}


.layout {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}
.layout-left {
    width: 271px;
}
.layout-left + .layout-content {
    padding-top: 0;
}
.layout-content {
    width: 1001px;
    padding-top: 1rem;
    margin-bottom: 100px;
}
.sub-content{
    margin: 70px 0;
    &.resume-write-btn{
        padding-right: 150px;
    }
}
@media screen and (max-width: 1024px) {
    aside{ display: none;}
    .layout-left {
        display: none;
    }
    .layout-content {
        width: 100%;
        padding-top: 0.5rem;
        margin-bottom: 50px;
    }
}